<!-- SNB -->
<div id="snb">
    <nav>
        <div class="snb-scroll">
            <h1>
                <a href="/index.html" class="logo">
                    여기어때
                    <span>UI 가이드</span>
                </a>
            </h1>
            <button type="button" class="button-nav__close"><i class="icon-outline-clear-24px"></i><span>닫기</span></button>
            <div class="snb">
                <ul class="snb-main">
                    <li>
                        <a href="/index.html" class="snb-sub">
                            <i class="icon-outline-visibility-24px"></i>
                            메뉴 1
                        </a>
                    </li>
                    <li>
                        <a href="/pages/guide/learn.html" class="snb-sub">
                            <i class="icon-outline-account_circle-24px"></i>
                            메뉴 2
                        </a>
                    </li>
                    <li>
                        <a href="#" class="snb-sub">
                            <i class="icon-outline-assignment-24px"></i>
                            메뉴 3
                            <span class="icon-outline-keyboard_arrow_left-24px"></span>
                        </a>
                        <ul>
                            <li><a href="/pages/page_01.html">자식메뉴 1</a></li>
                        </ul>
                    </li>
                    <li>
                        <p class="snb-sub-title">타이틀 1</p>
                        <a href="#none" class="snb-sub">
                            <i class="icon-outline-flash_on-24px"></i>
                            메뉴 4
                            <span class="icon-outline-keyboard_arrow_left-24px"></span>
                        </a>
                        <ul>
                            <li><a href="/pages/page_01.html">자식메뉴 1</a></li>
                            <li><a href="/pages/page_01.html">자식메뉴 2</a></li>
                            <li><a href="/pages/page_01.html">자식메뉴 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="snb-sub">
                            <i class="icon-outline-radio_button_checked-24px"></i>
                            메뉴 5
                            <span class="icon-outline-keyboard_arrow_left-24px"></span>
                        </a>
                        <ul>
                            <li><a href="/pages/page_01.html">자식메뉴 1</a></li>
                            <li><a href="/pages/page_01.html">자식메뉴 2</a></li>
                            <li><a href="/pages/page_01.html">자식메뉴 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <p class="snb-sub-title">타이틀2</p>
                        <a href="#none" class="snb-sub">
                            <i class="icon-outline-lock-24px"></i>
                            메뉴 6
                            <span class="icon-outline-keyboard_arrow_left-24px"></span>
                        </a>
                        <ul>
                            <li><a href="/pages/page_01.html">blank 메뉴 1</a></li>
                            <li><a href="/pages/page_01.html">blank 메뉴 2</a></li>
                            <li><a href="/pages/page_01.html">blank 메뉴 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>