<nav>
    <div class="snb-scroll">
        <h1>
            <a href="/index.html" class="logo">
                여기어때
                <span>UI 가이드</span>
            </a>
        </h1>
        <button type="button" class="button-nav__close"><i class="icon-outline-clear-24px"></i><span>닫기</span></button>
        <div class="snb">
            <ul class="snb-main">
                <li>
                    <a href="/index.html" class="snb-sub">
                        <i class="icon-outline-visibility-24px"></i>
                        가이드 소개
                    </a>
                </li>
                <li>
                    <a href="/pages/guide/learn.html" class="snb-sub">
                        <i class="icon-outline-account_circle-24px"></i>
                        부트스트랩 시작
                    </a>
                </li>
                <li>
                    <a href="#" class="snb-sub">
                        <i class="icon-outline-assignment-24px"></i>
                        샘플페이지
                        <span class="icon-outline-keyboard_arrow_left-24px"></span>
                    </a>
                    <ul>
                        <li><a href="/pages/samplePage/page_01.html">기본형</a></li>
                    </ul>
                </li>
                <li>
                    <p class="snb-sub-title">인터페이스</p>
                    <a href="#none" class="snb-sub">
                        <i class="icon-outline-flash_on-24px"></i>
                        스타일
                        <span class="icon-outline-keyboard_arrow_left-24px"></span>
                    </a>
                    <ul>
                        <li><a href="/pages/style/grid.html">그리드</a></li>
                        <li><a href="/pages/style/color.html">컬러</a></li>
                        <li><a href="/pages/style/table.html">테이블</a></li>
                        <li><a href="/pages/style/forms.html">폼</a></li>
                        <li><a href="/pages/style/jalnan.html">잘난서체</a></li>
                        <li><a href="/pages/style/iconPack.html">아이콘</a></li>
                        <li><a href="/pages/style/buttons.html">버튼</a></li>
                        <li><a href="/pages/style/alert.html">경고</a></li>
                        <li><a href="/pages/style/badge.html">뱃지</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="snb-sub">
                        <i class="icon-outline-radio_button_checked-24px"></i>
                        플러그인
                        <span class="icon-outline-keyboard_arrow_left-24px"></span>
                    </a>
                    <ul>
                        <li><a href="/pages/plugin/datatable.html">DataTable.js</a></li>
                        <li><a href="/pages/plugin/validation.html">Validation</a></li>
                        <li><a href="/pages/plugin/Swiper.html">Swiper.js</a></li>
                        <li><a href="/pages/plugin/Dropzone.html">Dropzone.js</a></li>
                    </ul>
                </li>
                <li>
                    <p class="snb-sub-title">페이지</p>
                    <!-- Authentication -->
                    <a href="#none" class="snb-sub">
                        <i class="icon-outline-lock-24px"></i>
                        Authentication
                        <span class="icon-outline-keyboard_arrow_left-24px"></span>
                    </a>
                    <ul>
                        <li><a href="/pages/authentication/login.html" target="_blank">로그인</a></li>
                        <li><a href="/pages/authentication/passwordSearch.html" target="_blank">비밀번호찾기</a></li>
                        <li><a href="/pages/authentication/join.html" target="_blank">회원가입</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="snb-sub">
                        <i class="icon-outline-warning-24px"></i>
                        Error
                        <span class="icon-outline-keyboard_arrow_left-24px"></span>
                    </a>
                    <ul>
                        <li><a href="/pages/error/400.html" target="_blank">40X</a></li>
                        <li><a href="/pages/error/500.html" target="_blank">50X</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>