.color-list {
    li {
        display: inline-block;
        margin-right: 30px;
        font-size: 13px;
        color: $black-72;
        text-align: center;
        span {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
        p {
            padding-top: 5px;
            line-height: 1.4;
            b {
                display: block;
                color: $black-48;
            }
        }
        &:nth-of-type(1) {
            span {
                background: $color-primary;
            }
        }
        &:nth-of-type(2) {
            span {
                background: $color-secondary;
            }
        }
        &:nth-of-type(3) {
            span {
                background: $color-success;
            }
        }
        &:nth-of-type(4) {
            span {
                background: $color-danger;
            }
        }
        &:nth-of-type(5) {
            span {
                background: $color-warning;
            }
        }
        &:nth-of-type(6) {
            span {
                background: $color-info;
            }
        }
        &:nth-of-type(7) {
            span {
                background: $color-light;
            }
        }
        &:nth-of-type(8) {
            span {
                background: $color-dark;
            }
        }
    }
}

.icon-list {
    li {
        display: inline-block;
        width: 135px;
        height: 120px;
        margin: 0 0 20px 0;
        text-align: center;
        font-size: 13px;
        cursor: pointer;
        span {
            font-size: 50px;
            display: inline-block;
            width: 100px;
            height: 80px;
            line-height: 100px;
        }
    }
}

.tab-menu {
    overflow: hidden;
    background: #f7f9f6;
    li {
        display: inline-block;
        a {
            display: block;
            min-width: 140px;
            height: 50px;
            padding: 0 15px;
            font-size: 14px;
            line-height: 50px;
            color: $black-72;
            text-align: center;
            &.active {
                background: #fff;
            }
        }
    }
}

.code-copy {
    display: none;
    position: relative;
    .button-copy {
        position: absolute;
        top: 3px;
        right: 0;
        background: none;
        font-size: 12px;
        color: greenyellow;
    }
    .textarea-copy {
        position: absolute;
        top: -9999px;
        opacity: 0;
    }
}
.button-code-toggle {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: -9px 0 0 0;
    background: none;
    font-size: 18px;
    color: $black-72;
    vertical-align: top;
    &.show {
        color: $color-danger;
    }
    &.button-code-toggle__fullpage {
        right: 18px;
        top: 48px;
        z-index: 100;
    }
}

/* 탭메뉴 */
.nav-tabs {
    overflow: hidden;
    background: #f7f9f6;
    border-bottom: none;
    li {
        display: block;
        float: left;
        min-width: 100px;
        height: 51px;
        padding: 0 15px;
        font-size: 14px;
        font-weight: bold;
        line-height: 51px;
        text-align: center;
        box-sizing: border-box;
        a {
            display: block;
            color: $black-72;
            &:hover {
                color: $color-primary;
            }
        }
        &.active {
            background: #fff;
        }
    }
}
[data-name="nav-tabs-block"] {
    .block-content {
        display: none;
        &:nth-of-type(1) {
            display: block;
        }
    }
}