/* 고딕체 */
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400');

/* 잘난서체 */
@import url('https://static.goodchoice.kr/fonts/jalnan/font.css');

/* 아이콘팩 */
@import url('https://static.goodchoice.kr/static/ui/icon/iconPack.css');

.icon-pack {
    li {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
        line-height: 60px;
        background: $black-12;
        cursor: pointer;
        input {
            position: absolute;
            top: -9999px;
            left: 0;
            opacity: 0;
        }
    }
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-outline-toggle_on-24px:before {
    content: "\e900";
}

.icon-outline-toggle_off-24px:before {
    content: "\e901";
}

.icon-outline-check_box_outline_blank-24px:before {
    content: "\e902";
}

.icon-outline-check_box-24px:before {
    content: "\e903";
}

.icon-outline-radio_button_unchecked-24px:before {
    content: "\e904";
}

.icon-outline-radio_button_checked-24px:before {
    content: "\e905";
}

.icon-outline-layers-24px:before {
    content: "\e906";
}

.icon-outline-flash_on-24px:before {
    content: "\e907";
}

.icon-outline-keyboard_arrow_down-24px:before {
    content: "\e908";
}

.icon-outline-keyboard_arrow_up-24px:before {
    content: "\e909";
}

.icon-outline-keyboard_backspace-24px:before {
    content: "\e90a";
}

.icon-outline-keyboard_arrow_right-24px:before {
    content: "\e90b";
}

.icon-outline-keyboard_arrow_left-24px:before {
    content: "\e90c";
}

.icon-outline-attachment-24px:before {
    content: "\e90d";
}

.icon-outline-insert_photo-24px:before {
    content: "\e90e";
}

.icon-outline-bar_chart-24px:before {
    content: "\e90f";
}

.icon-outline-gps_fixed-24px:before {
    content: "\e910";
}

.icon-outline-sort-24px:before {
    content: "\e911";
}

.icon-outline-remove-24px:before {
    content: "\e912";
}

.icon-outline-create-24px:before {
    content: "\e913";
}

.icon-outline-clear-24px:before {
    content: "\e914";
}

.icon-outline-add-24px:before {
    content: "\e915";
}

.icon-outline-phone-24px:before {
    content: "\e916";
}

.icon-outline-location_on-24px:before {
    content: "\e917";
}

.icon-outline-email-24px:before {
    content: "\e918";
}

.icon-outline-warning-24px:before {
    content: "\e919";
}

.icon-outline-visibility-24px:before {
    content: "\e91a";
}

.icon-outline-search-24px:before {
    content: "\e91b";
}

.icon-outline-list-24px:before {
    content: "\e91c";
}

.icon-outline-lock-24px:before {
    content: "\e91d";
}

.icon-outline-info-24px:before {
    content: "\e91e";
}

.icon-outline-home-24px:before {
    content: "\e91f";
}

.icon-outline-highlight_off-24px:before {
    content: "\e920";
}

.icon-outline-help_outline-24px:before {
    content: "\e921";
}

.icon-outline-favorite_border-24px:before {
    content: "\e922";
}

.icon-outline-done-24px:before {
    content: "\e923";
}

.icon-outline-copyright-24px:before {
    content: "\e924";
}

.icon-outline-code-24px:before {
    content: "\e925";
}

.icon-outline-check_circle-24px:before {
    content: "\e926";
}

.icon-outline-autorenew-24px:before {
    content: "\e927";
}

.icon-outline-assignment-24px:before {
    content: "\e928";
}

.icon-outline-arrow_right_alt-24px:before {
    content: "\e929";
}

.icon-outline-account_circle-24px:before {
    content: "\e92a";
}
.icon-baseline-calendar_today-24px:before {
    content: "\e92b";
}
.icon-baseline-replay-24px:before {
    content: "\e92c";
}
.icon-baseline-pause_circle_outline-24px:before {
    content: "\e92d";
}
.icon-baseline-play_circle_outline-24px:before {
    content: "\e92e";
}
.icon-baseline-stop-24px:before {
    content: "\e92f";
}
.icon-baseline-play_arrow-24px:before {
    content: "\e930";
}
.icon-baseline-drag_handle-24px:before {
    content: "\e931";
}
.icon-outline-folder-24px:before {
    content: "\e932";
}
.icon-baseline-folder_open-24px:before {
    content: "\e933";
}
.icon-baseline-folder-24px:before {
    content: "\e934";
}
.icon-outline-create_new_folder-24px:before {
    content: "\e935";
}
.icon-outline-save-24px:before {
    content: "\e936";
}
.icon-outline-note_add-24px:before {
    content: "\e937";
}
.icon-outline-library_add-24px:before {
    content: "\e938";
}    
.icon-baseline-volume_up-24px:before {
    content: "\e939";
}