/* Text*/
.text-primary {
    color: $color-primary;
}
.text-secondary {
    color: $color-secondary;
}
.text-success {
    color: $color-success;
}
.text-danger {
    color: $color-danger;
}
.text-warning {
    color: $color-warning;
}
.text-info {
    color: $color-info;
}
.text-light {
    color: $color-light;
}
.text-dark {
    color: $color-dark;
}

/* Background */
.bg-primary {
    background-color: $color-primary;
}
.bg-secondary {
    background-color: $color-secondary;
}
.bg-success {
    background-color: $color-success;
}
.bg-danger {
    background-color: $color-danger;
}
.bg-warning {
    background-color: $color-warning;
}
.bg-info {
    background-color: $color-info;
}
.bg-light {
    background-color: $color-light;
}
.bg-dark {
    background-color: $color-dark;
}

/* Alert */
.alert {
    position: relative;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}
.alert-primary {
    background-color: #e6eefa;
    color: #2c4b7a;
    border-color: #ceddf5;
}
.alert-secondary {
    background-color: #e1e6eb;
    color: #2a3e52;
    border-color: #CED7E0;
}
.alert-success {
    background-color: #e1f3f5;
    color: #174652;
    border-color: #cee9eb;
}
.alert-danger {
    background-color: #fae1e1;
    color: #661414;
    border-color: #f5cece;
}
.alert-warning {
    background-color: #fff1d6;
    color: #523703;
    border-color: #ffebc3;
}
.alert-info {
    background-color: #e9e6fa;
    color: #372c7a;
    border-color: #dbd7f5;
}
.alert-light {
    background-color: #fefefe;
    color: #707070;
    border-color: #F7F9FA;
}
.alert-dark {
    background-color: #d6d6d6;
    color: #333;
    border-color: #d6d6d6;
}

/* Badge */
.badge {
    position: relative;
    top: -0.2em;
}

/* Dropdown Menu */
.dropdown-menu {
    border-radius: 0;
    padding: 10px 0;
    font-size: 13px;
    color: $black-87;
}

/* Table */
.table {
    th, td {
        background: #fff;
    }
}
body.desktop,
body.mobile {
    table {
        width: 100%;
        border: 1px solid #e7ede4;
        border-right: 0;
        border-top: 0;
        th,
        td {
            padding: 10px;
            border: 1px solid #e7ede4;
            border-collapse: collapse;
            border-left: 0;
        }
        th {
            font-size: 14px;
        }
        td {
            font-size: 12px;
            border-bottom: 0;
        }
        tfoot {
            th {
                border-bottom: 0;
            }
        }
    }
    table.dataTable thead th, table.dataTable thead td {
        border-bottom: 1px solid #ddd;
    }
    table.dataTable.stripe tbody tr.odd,
    table.dataTable.display tbody tr.odd{
        background-color: #f7f9f6;
    }
    table.dataTable.display tbody tr.odd > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.odd > .sorting_1{
        background: #f7f9f6;
    }
    table.dataTable.display tbody tr.even > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.even > .sorting_1{
        background: #f7f9f6;
    }
    .dataTables_wrapper {
        .dataTables_length {
            select {
                height: calc(2.25rem + 2px);
                margin-bottom: 15px;
                padding: .375rem 1.75rem .375rem .75rem;
                border: 1px solid rgba(0,0,0,.15);
                background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
                background-size: 8px 10px;
                font-size: 14px;
                color: #495057;
            }
        }
        .dataTables_filter {
            input {
                padding: .5rem .75rem;
                line-height: 1.25;
                border: 1px solid rgba(0,0,0,.15);
                border-radius: .25rem;
                font-size: 14px;
                color: #495057;
            }
        }
        .paginate_button {
            min-width: 1.5em;
            padding: 0;
            margin: 0;
            margin-top: 5px;
            padding: 6px 10px 4px 10px;
            border: none;
            border-radius: 0;
            background-color: #f0f2f5;
            font-size: 13px;
            &:hover,
            &:active {
                min-width: 1.5em;
                padding: 6px 10px 4px 10px !important;
                border: none;
                background: $black-48;
                font-size: 13px;
            }
            &.current {
                border: none;
                background: $color-primary;
                color: #fff !important;
                &:hover,
                &:active {
                    border: none;
                    background: $color-primary;
                    color: #fff !important;
                }
            }
        }
        .dataTables_empty {
            padding: 40px;
            font-size: 16px;
        }
    }

}
.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.015);
}

/* Button - Color */
.btn-primary {
    border: 1px solid transparent;
    background-color: $color-primary;
    &:hover {
        background-color: $color-primary;
        opacity: 0.9;
    }
    &.disabled,
    &:disabled {
        border: 1px solid transparent;
        background-color: $color-primary;
    }
}
.btn-outline-primary {
    border-color: $color-primary;
    color: $color-primary;
    &:hover {
        border: 1px solid transparent;
        background-color: $color-primary;
    }
    &.disabled,
    &:disabled {
        border-color: $color-primary;
        color: $color-primary;
    }
}
.btn-secondary {
    border: 1px solid transparent;
    background-color: $color-secondary;
    &:hover {
        background-color: $color-secondary;
        opacity: 0.9;
    }
    &.disabled,
    &:disabled {
        border: 1px solid transparent;
        background-color: $color-secondary;
    }
}
.btn-outline-secondary {
    border-color: $color-secondary;
    color: $color-secondary;
    &:hover {
        border: 1px solid transparent;
        background-color: $color-secondary;
    }
    &.disabled,
    &:disabled {
        border-color: $color-secondary;
        color: $color-secondary;
    }
}
.btn-success {
    border: 1px solid transparent;
    background-color: $color-success;
    &:hover {
        background-color: $color-success;
        opacity: 0.9;
    }
    &.disabled,
    &:disabled {
        border: 1px solid transparent;
        background-color: $color-success;
    }
}
.btn-outline-success {
    border-color: $color-success;
    color: $color-success;
    &:hover {
        border: 1px solid transparent;
        background-color: $color-success;
    }
    &.disabled,
    &:disabled {
        border-color: $color-success;
        color: $color-success;
    }
}
.btn-info {
    border: 1px solid transparent;
    background-color: $color-info;
    &:hover {
        background-color: $color-info;
        opacity: 0.9;
    }
    &.disabled,
    &:disabled {
        border: 1px solid transparent;
        background-color: $color-info;
    }
}
.btn-outline-info {
    border-color: $color-info;
    color: $color-info;
    &:hover {
        border: 1px solid transparent;
        background-color: $color-info;
    }
    &.disabled,
    &:disabled {
        border-color: $color-info;
        color: $color-info;
    }
}
.btn-warning {
    border: 1px solid transparent;
    background-color: $color-warning;
    color: #fff;
    &:hover {
        color: #fff;
        background-color: $color-warning;
        opacity: 0.9;
    }
    &.disabled,
    &:disabled {
        border: 1px solid transparent;
        background-color: $color-warning;
    }
}
.btn-outline-warning {
    border-color: $color-warning;
    color: $color-warning;
    &:hover {
        border: 1px solid transparent;
        background-color: $color-warning;
    }
    &.disabled,
    &:disabled {
        border-color: $color-warning;
        color: $color-warning;
    }
}
.btn-danger {
    border: 1px solid transparent;
    background-color: $color-danger;
    color: #fff;
    &:hover {
        color: #fff;
        background-color: $color-danger;
        opacity: 0.9;
    }
    &.disabled,
    &:disabled {
        border: 1px solid transparent;
        background-color: $color-danger;
    }
}
.btn-outline-danger {
    border-color: $color-danger;
    color: $color-danger;
    &:hover {
        border: 1px solid transparent;
        background-color: $color-danger;
    }
    &.disabled,
    &:disabled {
        border-color: $color-danger;
        color: $color-danger;
    }
}

/* Button - Size */
.btn-rounded {
    border-radius: 50px !important;
}
.btn {
    display: inline-block;
    padding: 9px 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1;
}
.btn.btn-sm {
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
}
.btn.btn-lg {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

/* button - Style */
.btn-square {
    border-radius: 0;
}
.btn.focus,
.btn:focus {
    box-shadow: none;
}

/* Drop Menu */
.dropdown-item.active,
.dropdown-item:active {
    color: $black-87;
    background: transparent;
}

/* Label Validate */
form label.error {
    display: none;
}

/* Form */
.form-group {
    label {
        font-size: 14px;
    }
}
.form-control {
    font-size: 14px;
}
input[type="file"] {
    font-size: 12px;
}

/* Input - Radio */
.css-control {
    position: relative;
    display: inline-block;
    padding: 3px 0;
    margin: 0;
    font-size: 14px;
    cursor: pointer;
}
.css-radio {
    .css-control-input {
        position: absolute;
        opacity: 0;
    }
    .css-control-input~.css-control-indicator {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: -2px 3px 0 0;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 50%;
        vertical-align: middle;
    }
    .css-control-input:checked~.css-control-indicator:after {
        display: inline-block;
        content: '';
        position: absolute;
        top: 6px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    .css-control-input:disabled~.css-control-indicator {
        opacity: 0.4;
        &~span{
            opacity: 0.4;
        }
    }
    .css-control-input:disabled~.css-control-indicator:after {
        display: inline-block;
        content: '';
        position: absolute;
        top: 6px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
}

/* Input - Checkbox */
.css-checkbox {
    .css-control-input {
        position: absolute;
        opacity: 0;
    }
    .css-control-input~.css-control-indicator {
        font-family: 'icomoon';
        overflow: hidden;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: -2px 3px 0 0;
        vertical-align: middle;
        font-size: 13px;
        line-height: 19px;
        color: #fff;
        text-align: center;
        border: 1px solid rgba(0,0,0,0.15);
    }
    .css-control-input:checked~.css-control-indicator:after {
        display: inline-block;
        content: "\e923";
        position: absolute;
        top: 3px;
        left: 1px;
        width: 18px;
        height: 19px;
        text-align: center;
    }
    .css-control-input:disabled {
        &:checked {
            border: 1px solid #000;
        }
    }
    .css-control-input:disabled~.css-control-indicator {
        opacity: 0.4;
        &~span{
            opacity: 0.4;
        }
    }
    .css-control-input:disabled~.css-control-indicator:after {
        display: inline-block;
        content: "\e923";
        position: absolute;
        top: 3px;
        left: 1px;
        width: 18px;
        height: 18px;
        // background: $black-56;
    }
}
/* Input - Switch */
.css-switch {
    .css-control-input {
        position: absolute;
        opacity: 0;
    }
    .css-control-input~.css-control-indicator {
        display: inline-block;
        width: 36px;
        height: 20px;
        margin: -2px 3px 0 0;
        vertical-align: middle;
        border-radius: 20px;
        background: #ddd;
        transition: 0.35s;
        &:after {
            display: inline-block;
            content: '';
            position: absolute;
            top: 4px;
            left: 2px;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background: #fff;
            transition: 0.35s;
        }
    }
    .css-control-input~.css-control-indicator:after {
        background: #fff;
    }
    .css-control-input:checked~.css-control-indicator:after {
        display: inline-block;
        position: absolute;
        top: 4px;
        left: 18px;
        width: 16px;
        height: 16px;
        background: #fff !important;
        text-align: center;
    }
    .css-control-input:disabled {
        &:checked {
            border: 1px solid #000;
        }
    }
    .css-control-input:disabled~.css-control-indicator {
        opacity: 0.4;
        &~span{
            opacity: 0.4;
        }
    }
}

/* Input - Color */
.css-control-primary {
    .css-control-input:checked~.css-control-indicator:after {
        background: $color-primary;
    }
    &.css-switch {
        .css-control-input:checked~.css-control-indicator {
            background: $color-primary;
        }
    }
}
.css-control-secondary {
    .css-control-input:checked~.css-control-indicator:after {
        background: $color-secondary;
    }
    &.css-switch {
        .css-control-input:checked~.css-control-indicator {
            background: $color-secondary;
        }
    }
}
.css-control-info {
    .css-control-input:checked~.css-control-indicator:after {
        background: $color-info;
    }
    &.css-switch {
        .css-control-input:checked~.css-control-indicator {
            background: $color-info;
        }
    }
}
.css-control-success {
    .css-control-input:checked~.css-control-indicator:after {
        background: $color-success;
    }
    &.css-switch {
        .css-control-input:checked~.css-control-indicator {
            background: $color-success;
        }
    }
}
.css-control-warning {
    .css-control-input:checked~.css-control-indicator:after {
        background: $color-warning;
    }
    &.css-switch {
        .css-control-input:checked~.css-control-indicator {
            background: $color-warning;
        }
    }
}
.css-control-danger {
    .css-control-input:checked~.css-control-indicator:after {
        background: $color-danger;
    }
    &.css-switch {
        .css-control-input:checked~.css-control-indicator {
            background: $color-danger;
        }
    }
}

// 코드 하이라이트
.hljs {
    position: relative;
    .button-copy {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        color: greenyellow;
    }
}

/* 페이지네이션 */
.pagination {
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        border-radius: 0;
    }
    .page-item.disabled .page-link {
        // background: #f0f2f5; 
        background: none; 
    }
    .page-link {
        padding: 8px 13px 6px 13px;
        border: none;
        background-color: #f0f2f5;
        font-size: 13px;
        color: #333;
    }
    .page-item.active {
        .page-link {
            background: #3f6ae0;
        }
    }
}