/**
 * 리셋 스타일
 * 작성자 : KEEN
 * 작성일 : 2018. 08. 20
 */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    -ms-touch-action: none;
}
body {
    // overflow: hidden;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
button {
    border: none;
    background: #fff;
    cursor: pointer;
    outline: 0;
    &:focus {
        outline: 0;
    }
}
input, select {
    outline: 0;
    -webkit-appearance: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #61788f inset;
    color: #fff;
}
div, b, span, ol, ul, li, dl, dt, section,
article, th, td, h1, h2, h3, h4 {
    white-space: wrap;
    word-break: break-all;
}

/* Override */
h1 {
    font-size: 28px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}