/* Color */
$body-color: rgb(242,242,242);
$black-87: rgba(0,0,0,0.87);
$black-72: rgba(0,0,0,0.72);
$black-48: rgba(0,0,0,0.48);

$color-primary: #3f6ae0 !important;
$color-secondary: #61738f !important;
$color-success: #127e99 !important;
$color-danger: #e01b35 !important;
$color-warning: #ffbb33 !important;
$color-info: #7363e0 !important;
$color-light: #F7F9FA !important;
$color-dark: #333 !important;

/* Shadow */
$shadow-type__default: 0px 1px 14px 1px rgba(0,0,0,0.083);