$font-10px: 0.625rem;
$font-11px: 0.688rem;
$font-12px: 0.750rem;
$font-13px: 0.813rem;
$font-14px: 0.875rem;
$font-15px: 0.938rem;
$font-16px: 1rem;
$font-17px: 1.063rem;
$font-18px: 1.125rem;
$font-19px: 1.188rem;
$font-20px: 1.250rem;
$font-21px: 1.313rem;
$font-22px: 1.375rem;
$font-23px: 1.438rem;
$font-24px: 1.500rem;

.font-10px {
    font-size: $font-10px;
}
.font-11px {
    font-size: $font-11px;
}
.font-12px {
    font-size: $font-12px;
}
.font-13px {
    font-size: $font-13px;
}
.font-14px {
    font-size: $font-14px;
}
.font-15px {
    font-size: $font-15px;
}
.font-16px {
    font-size: $font-16px;
}
.font-17px {
    font-size: $font-17px;
}
.font-18px {
    font-size: $font-18px;
}
.font-19px {
    font-size: $font-19px;
}
.font-20px {
    font-size: $font-20px;
}
.font-21px {
    font-size: $font-21px;
}
.font-22px {
    font-size: $font-22px;
}
.font-23px {
    font-size: $font-23px;
}
.font-24px {
    font-size: $font-24px;
}